*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    
}
h1,h2,h3,h4,h5{
    margin-bottom: 15px;
    font: 48pt;
    font-weight: 400;
}
p {
	margin-bottom: 15px;
	line-height: 2;
    color: #767676;

}
body {
	font-family: 'Roboto',sans-serif;
	font-weight: 400;

}
ul{
    list-style: none;
}

.container{
    width: 1170px;
    margin: auto;
    
}



.header_area{
    position: absolute;
    top: 0;
    width: 100%;
}
.header_left{
    width: 25%;
    float: left;
    
}
.header_middle{
    width: 50%;
    float: left;
}
.header_right{
    width: 25%;
    float: right;
}




    

.logo {
    margin-top: 55px;
}
.manu{
    
}
.manu nav ul{
    
}
.manu nav ul li{
    float: left;
    margin-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.manu nav ul li:last-child{
    margin-right: 0;
}
.manu nav ul li a {
	color: #bcbcbb;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	padding: 50PX 0 25px;
	display: block;
}
.manu nav ul li:hover a{ 
    color: orangered;
    
}
.manu nav ul li ul.submanu {
	left: 0;
	position: absolute;
	background: #4a5150;
	width: 200px;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.manu nav ul li:hover ul.submanu{
    opacity: 1;
    visibility: visible;
    top: 100%;
    
}
.manu nav ul li ul.submanu li {
	float: none;
	margin: 0;
	padding: 0;
}
.manu nav ul li ul.submanu li:hover{
    background: #646460;
}.manu nav ul li:hover ul.submanu li:hover> a{
    color: oldlace;
}
.manu nav ul li ul.submanu li a {
	color: #000;
	padding: 10px 15px;
}
.manu nav ul li ul.submanu li ul.submanu{
    left: 100%;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.manu nav ul li ul.submanu li:hover> ul.submanu{
    opacity: 1;
    visibility: visible;
}
.manu nav ul li.submanu ul.submanu li{
    float: none;
	margin: 0;
	padding: 0;
}
.manu nav ul li ul.submanu ul.submanu li a{
    color: #000;
	padding: 10px 15px;
}





.header_right_left{
    
}
.header_right_right a {
	float: right;
	background: #fff;
	padding: 20px 55px;
	margin-top: 49px;
	border-radius: 45px;
	color: #282828;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
}
.language a {
	float: left;
	margin-top: 68px;
	color: #fff;
	font-size: 14px;
	margin-left: 80px;
	text-transform: uppercase;
	text-decoration: none;
}
.language a img {
	margin-bottom: 3px;
}





.slider_area{
    overflow: hidden;
}
.single_slider {
	background: url(images/slider.jpg);
	height: 812px;
	text-align: center;
	background: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.single_slider h1 {
	padding-top: 270px;
    padding-bottom: 40px;
	color: #fff;
	font-size: 60px;
	font-weight: 400;
}
.single_slider a {
	font-size: 14px;
	padding: 20px 45px;
	background: #ec530d;
	border-radius: 45px;
	text-decoration: none;
	color: #fff;
}




.service_area {
	margin: auto;
	height: 255px;
	margin-top: -140px;
    margin-bottom: 100px;
}
.service_left {
	width: 370px;
	float: left;
	margin-right: 15px;
}
.service_middle {
	width: 370px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}
.service_right {
	width: 370px;
	float: right;
	margin-left: 15px;
}
.single_service {
	background: #fff;
	padding: 40px;
	box-shadow: 0px 18px 20px 10px rgba(0, 0, 0, .1);
	
}
.single_service h1 {
	font-size: 30px;
	font-weight: 700;
	color: black;
    
}
.single_service p {
	font-size: 14px;
	font-weight: 400;
	color: black;
	padding-bottom: 30px;
}
.single_service a.button {
	padding: 17px 25px;
	background: #f3a032;
	text-decoration: none;
	border-radius: 45px;
	margin-right: 20px;
	color: white;
}
.single_service a {
	text-decoration: none;
    color: black;
}


.single_service:hover{
    background: #f3a032;
}
.single_service:hover h1{
    color: #fff;
}
.single_service:hover p{
    color: #fff;
}
.single_service:hover a.button{
    background: #fff;
    color: #000;
}
.single_service:hover a{
    color: #fff;
}
.single_service a:hover{
    color: darkred;
}
.single_service:hover a.button:hover{
    background: #c2ac90;
    color: #000;
}





.why_we_area {
	height: 520px;
}
.why_we_top{
    text-align: center;
}
.why_we_top p{
    color: #767676;
}
.why_we_bottom{
    padding-top: 70px;
    color: #767676
}
.why_we_bottom1 {
	width: 270px;
	float: left;
	padding-right: 15px;
}
.why_we_bottom2 {
	width: 270px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.why_we_bottom3{
    width: 270px;
    float: left;
    padding-left: 15px;
	padding-right: 15px;
}
.why_we_bottom4{
    width: 270px;
    float: right;
    padding-left: 15px;
}
.why_we_icon{
    padding-bottom: 40px;
}




.working_area {
	background: #f6f6f6;
	height: 600px;
}
.working_top {
	text-align: center;
	padding: 100px 0;
}
.working_bottom {
	overflow: hidden;
}
.working_bottom1 {
	float: left;
	width: 170px;
	
	margin-right: 15px;
}
.working_bottom2 {
    float: left;
    width: 170px;
  
	margin-left: 15px;
	margin-right: 15px;
}
.working_bottom3 {
    float: left;
    width: 170px;
    
	margin-left: 15px;
	margin-right: 15px;
}
.working_bottom4 {
    float: left;
    width: 170px;
    
	margin-left: 15px;
	margin-right: 15px;
}
.working_bottom5 {
    float: left;
    width: 170px;
    
	margin-left: 15px;
	margin-right: 15px;
}
.working_bottom6 {
    float: right;
    width: 170px;
    
	margin-left: 15px;
}
.single_work {
	text-align: center;
	width: 100%;
	height: 170px;
	background: white;
	line-height: 170px;
	box-shadow: 0px 0 5px 5px rgba(0,0,0,.03);
	margin: 10px 0;
    transition: .3s;
}
.single_work a {
	text-decoration: none;
	color: black;
}


.single_work:hover{
    background: #f3a032;
}
.single_work:hover a{
    color: white;
}




.Advertisers {
	overflow: hidden;
}
.Advertisers_left {
	float: left;
    width: 45%;
}
.Advertisers_left_top h1 {
	padding-top: 370px;
	font-size: 48pt;
}
.Advertisers_left_top p {
	font-size: 18pt;
	color: #a1a1a1;
}
.Advertisers_left_top a {
	font-size: 14pt;
	text-transform: uppercase;
	color: #f3a032;
}
.Advertisers_left_bottom {
	padding-top: 40px;
}
.Advertisers_left_bottom a img {
	padding-right: 15px;
    float: left;
    width:200px;
}
.Advertisers_right {
	float: right;
	padding-top: 117px;
	padding-bottom: 72px;
	margin-right: -35px;
}




.Agencies_area {
	background: #f6f6f6;
	overflow: hidden;
}
.Agencies_top {
	width: 60%;
}
.Agencies_top h1 {
	padding-top: 155px;
	font-size: 48pt;
}
.Agencies_top p {
	font-size: 18px;
}
.Agencies_bottom{
    
}
.Agencies_bottom p {
	padding-bottom: 50px;
}
.Agencies_bottom_left{
    float: left;
    width: 50%
}
.Agencies_bottom_right{
    float: right;
    width: 50%;
}



.Publishers_area {
	background: url(images/media_background.png);
	height: 600px;
	text-align: center;
}
.Publishers_top {
	text-align: center;
	padding-top: 105px;
	width: 770px;
	margin: 0 auto;
}
.Publishers_top h1 {
	color: white;
	font-size: 48px;
	font-weight: 400;
}
.Publishers_top p {
   
}
.Publishers_bottom video {
 
}



.fact_area{
    height: 770px;
}

.fact_top {
	text-align: center;
	width: 760px;
	margin: 0 auto;
	padding-top: 135px;
	font-size: 18px;
}
.fact_top p {
	
}

.fact_bottom {
	overflow: hidden;
}
.fact_bottom_tips1 {
	float: left;
    
}
.fact_bottom_tips2{
	float: left;
  
}
.fact_bottom_tips3 {
	float: left;

}
.fact_bottom_tips4{
	float: left;
    
}
.fact_bottom_tips5{
	float: left;
   
}
.fact_bottom_tips6{
	float: right;
   
}
.fact_fix {
	width: 174px;
	height: 250px;
	text-align: center;
	margin: 0 10px;
	margin-top: 150px;
	border-bottom: 5px solid white;
	font-weight: bold;
}
.fact_fix img{
   
    height: 120px;
    
}
.fact_fix p {
	padding-top: 40px;
	color: #282828;
}
.fact_fix a {
	text-decoration: none;
	color: #282828;
}
.fact_fix:hover{
    color: darkorange;
    border-bottom-color: #f3a032;
}




.googlemap {
    height: 700px;
    overflow: hidden;
    background: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
#gmap_canvas{
    
}


.contact {
	width: 940px;
	height: 500px;
	background: white;
	margin-top: -600px;
	margin-left: 113px;
	position: absolute;
}
.info{
    text-align: center;
    padding-top: 100px;
}



.footer {
	height: 250px;
	overflow: hidden;
}
.footer_top{
    
}
.copyright {
	width: 660px;
	text-align: center;
	margin: auto;
	font-weight: 400;
	margin-top: 85px;
}
.footer_social {
	text-align: center;
	margin-top: 45px;
}
.footer_social a{
    margin: 0 15px;
}